@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    position:relative;
    background: url('/backgrounds/output-onlinepngtools.png');
    background-size:cover;
    -moz-box-shadow: inset 0px 850px 500px -500px #fff;
    -webkit-box-shadow: inset 0px 850px 500px -500px #fff;
    -o-box-shadow: inset 0px 850px 500px -500px #fff;
    box-shadow: inset 0px -600px 100px -500px #fff;
}
