@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    position:relative;
    background: url('/backgrounds/output-onlinepngtools.png');
    background-size:cover;
    -moz-box-shadow: inset 0px 850px 500px -500px #fff;
    -webkit-box-shadow: inset 0px 850px 500px -500px #fff;
    -o-box-shadow: inset 0px 850px 500px -500px #fff;
    box-shadow: inset 0px -600px 100px -500px #fff;
}

.container {
    width: 150px;
    height: 150px;
    display: grid;
    overflow: hidden;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
  }
  
  .item {
    background: rgb(111, 44, 44);
    border-radius: 100%;
  }
  

  .btn {
    @apply  font-medium rounded-lg text-sm px-4 py-3
  }
  .btn-primary {
    @apply text-white bg-primary/95 focus:ring-4 focus:outline-none focus:ring-primary/20
  }

  .btn-primary:hover {
    @apply bg-primary;
  }